<div class='detailed_post'>
<div class='post_header'>
  <div><%="Post ##{post.id} by "%><%= link_to "#{user.name}", user_path(user)%></div>
  <div><%="Comments: x, Likes: y"%></div>
</div>
<%="#{post.text}"%>
</div>
<div>