<div class='detailed_post'>
<div class='post_header'>
  <div><%="Post ##{post.id} by "%><%= link_to "#{user.name}", user_path(user)%></div>
  <div><%="Comments: #{post.comments_counter}, Likes: #{post.likes_counter}"%></div>
</div>
<%="#{post.text}"%>
</div>
<div>