
<div class='user_body'>
<%=render partial: 'partials/user_card', locals: { user: @user }%>

<div class='top_post_list'>
  <%@all_posts.each_with_index do |post, index|%>
  <%=render partial: 'partials/post_card', locals: { post: post, index: index }%> 
  <%post.recent_comments.each do |comment|%>
      <div><%="#{comment.user.name}: #{comment.text}"%></div>
    <%end%>
  <%end%>
  <button type='button'><%= link_to "Create new post", new_user_post_path(@user) %></button>
</div>
</div>