<div class="post_body">
  <%=render partial: 'partials/post_expanded', locals: { post:@post, user: @user }%>
  <div class="post_comments">
    <%for a in 1..5 do%>
      <div><%="Username: Comment #{a}"%></div>
    <%end%>
  </div>
</div>